<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF=8">
	<title>Humidity and Temperare Monitoring System</title>
	<link rel="icon" type="image/png" href="static/img/favouriteIcon.png">
	<script src="static/js/main.js"></script> 
	 
</head>
<body onload="keep_alive(); time();">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<h1>Humidity and Temperature Monitoring System</h1>
	<ul>
		<a><li>Connection: <span id = "Connection_id">...</span></a>
	</ul>
	<div>
		<h3><span id = "TempHum_id"></span></h3>
	</div>
</body>
